.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.icon-links {
  margin: 0.75rem 0;
}

.icon-links > a {
  margin: 0.25rem;
}

.icon-links > a > i {
  transition: 0.15s ease-in-out;
}

.icon-links > a > i:hover {
  transform: scale(1.25);
}

.menu-links > a {
  margin-right: 1rem;
  font-weight: bolder;
}
