.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.icon-links > a {
  margin: 0.2rem;
  font-size: 1.33rem;
}

.menu-links > a {
  margin-right: 1rem;
  font-weight: bolder;
}
