body {
  font-family: "Fira Code";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: "Fira Code", "Courier New", Courier, monospace;
  color: white;
}
